/venv
/ai_pipeline/venv
.env

best_params.json
ai_pipeline/boosting_model/models/
__pycache__/
*.pyc
*.pdf
/data/reports/

/ai_pipeline/boosting_model/__pycache__
/ai_pipeline/config/__pycache__
/ai_pipeline/news_source/__pycache__
/ai_pipeline/mapping/__pycache__
/ai_pipeline/nlp/__pycache__
/ai_pipeline/graph_build/__pycache__
/ai_pipeline/boosting_model/__pycache__
k8s
.yaml
*.csv
